  * { 
        box-sizing: border-box; margin: 0; padding: 0; 
        background-color: #454545;
        color: #31eed8;
    
    }


    .cv-container {
      display: flex;
      max-width: 900px;
      margin: 40px auto;
    }

    
    .sidebar {
      width: 280px;
      padding: 30px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .sidebar img {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 20px;
    }

    .sidebar h3 {
      font-size: 1rem;
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 10px;
      width: 100%;
    }

    .sidebar p, .sidebar li {
      font-size: 0.9rem;
      line-height: 1.5;
      margin-bottom: 6px;
    }

    .sidebar ul {
      list-style: none;
      padding-left: 0;
    }
    .main {
      flex: 1;
      padding: 40px;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }

    .header h1 {
      font-size: 2rem;

    }

    .header .toptext{
      font-size: 0.9rem;
      color: #fff;
    }

    h2 {
      font-size: 1.2rem;
      border-bottom: 1px solid ;
      margin: 20px 0 10px;
      padding-bottom: 4px;
    }

    .section p {
      font-size: 0.95rem;
      line-height: 1.5;
      margin-bottom: 10px;
    }

    .experience-item {
      margin-bottom: 15px;
    }

    .experience-header {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
    }

    .experience-sub {

      margin-bottom: 5px;
      color: #fff;
    }

    ul {
      margin-left: 20px;
      list-style: disc;
    }
    .navbar {
  overflow: hidden;
  background-color: #454545;
  color: #31eed8;
}
.navbar a {
  position: sticky;
  float: left;
  display: flex;
  color: #31eed8;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  align-items: center;
}
.navbar a:hover {
  background-color: #31eed8;
  color: #454545;
}
.navbar a.active {
  background-color: #31eed8;
  color: #454545;
}
.titels1 {
  margin-top: 10%;
}
body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        text-align: center;
        background-color: #454545;
        color: #31eed8;
}

.navbar-example {
    display: flex;
}
.wit{
  color: #fff;
}
